<h1>Cache</h1>
<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.stats.each_pair do |key, value| %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class="table">
  <thead>
    <th>
      Key
    </th>
  </thead>
  <tbody>
    <% @articles.keys.each do |key| %>
      <tr>
        <td>
          <%= key %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
