<h1>Cache</h1>
<table class="table">
  <thead>
    <th>
      Key
    </th>
  </thead>
  <tbody>
    <% @articles.keys.each do |key| %>
      <tr>
        <td>
          <%= key %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
