<div class="jumbotron">
  <h2>Environment: <%= Rails.env.humanize %></h2>
  <h2>Cache Store: <%= Rails.cache.class %></h2>
</div>


<% if @stats.present? %>
<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each_pair do |key, value| %>
    <tr>
      <td>
        <%= key.humanize %>
      </td>
      <td>
        <%= value %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
