<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <% @stats.each_pair do |key, value| %>
      <tr>
        <td>
          <%= key %>
        </td>
        <td>
          <%= value %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>